@forward "buttons";
@forward "cards";
@forward "forms";
@forward "fontawesome";

.pre-flex-gap-box {
  /*
  margin-bottom: -1rem;
  margin-left: -1rem;

   */
}

.pre-flex-gap-item {

  margin-bottom: 1rem;
  margin-top: 1rem;
}