DirectoryIndex index.php
RewriteEngine on

RewriteRule (^|/).git(/|$) - [F]
RewriteRule (^|/).partarumGhost(/|$) - [F]
RewriteRule (^|/).ghost(/|$) - [F]
RewriteRule (^|/).ghost/.partarum(/|$) - [F]
RewriteRule (^|/).ghost/.user(/|$) - [F]

RewriteRule (^|/)app/src(/|$) - [F]
RewriteRule (^|/)app/log(/|$) - [F]
RewriteRule (^|/)Partarum/PartarumCLI(/|$) - [F]
RewriteRule (^|/)Partarum/PartarumConfig(/|$) - [F]
RewriteRule (^|/)Partarum/PartarumIntern(/|$) - [F]
RewriteRule (^|/)Partarum/PartarumLorem(/|$) - [F]
RewriteRule (^|/)Partarum/PartarumPHP(/|$) - [F]
RewriteRule (^|/)Partarum/PartarumSecura(/|$) - [F]
RewriteRule (^|/)config(/|$) - [F]

RewriteBase /

AddType text/javascript .js
AddType text/css .css
AddType image/webp .webp
AddType image/png .png
AddType image/jpeg .jpg
AddType application/vnd.ms-fontobject  eot
AddType font/truetype                  ttf
AddType font/opentype                  otf
AddType application/x-font-woff        woff
AddType application/x-font-woff        woff2

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Produktivserver
RewriteCond %{HTTP_HOST} ^(.+)?partarum.de$

RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_URI} !^/app/
RewriteCond %{REQUEST_URI} !^/Partarum/PartarumCSS/
RewriteCond %{REQUEST_URI} !^/Partarum/PartarumJS/
RewriteRule  ^(.*)?$ index.php [QSA]

# PArtCreate
RewriteCond %{HTTP_HOST} ^(.+)?partcreate.de$

RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_URI} !^/app/
RewriteCond %{REQUEST_URI} !^/Partarum/PartarumCSS/
RewriteCond %{REQUEST_URI} !^/Partarum/PartarumJS/
RewriteRule  ^(.*)?$ index.php [QSA]

# Devserver
RewriteCond %{HTTP_HOST} ^(.+)?localhost$

RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_URI} !^/app/
RewriteCond %{REQUEST_URI} !^/Partarum/PartarumCSS/
RewriteCond %{REQUEST_URI} !^/Partarum/PartarumJS/
RewriteRule  ^(.*)?$ index.php [QSA]
