.ie-main {
  -ms-grid-row: 2;

  display: -webkit-box;

  display: -ms-flexbox;

  -webkit-box-pack: center;

  -ms-flex-pack: center;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}